{% include archive-post-variables.html %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% include archive-teaser-image.html %}
    <h3 class="archive__item-title" itemprop="headline">
      {% include archive-title-link.html %}
    </h3>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.venue%}<p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p> {% endif %}
    </li>
 </article>
</div>
